$dark: rgb(47, 47, 47);
$col: rgb(255, 234, 0);
.Home {
    padding: 40px;
    border-radius: 5px;
}

.main-title {
    margin-bottom: 20px;
    font-size: 100px;
    color: $dark;
    font-weight: bold;
    letter-spacing: 0.1em;
    // text-shadow: 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 12px 20px rgba(0, 0, 0, 0.9);
}

.main-container {
    background-color: $col;
    padding: 20px;
    border: 4px solid $dark;
    border-radius: 5px;
    // box-shadow: 5px 5px 0px #1c4e5f, -5px -5px 0px #72ffff;
}

.content-container {
    background: $dark;
    padding: 40px;
    border-radius: 5px;
    // box-shadow: 6px 6px 42px #989898, -6px -6px 42px #ffffff;
}

.inp {
    margin: 20px;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: $col;
    border: gray 2px solid;
    border-radius: 5px;
}

.inp::placeholder {
    font-style: italic;
    font-weight: 300;
    color: $dark;
}

.join-btn {
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    color: $col;
    border: $col solid 2px;
}

.join-btn:hover {
    color: $dark;
    border: gray 2px solid;
    background-color: $col;
}